*{
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  box-sizing: border-box;
} 
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}